@page "/crossword"
@using Crosswords.Common.Entities
@using Crosswords.Common.Repositories
@using CrosswordsWA.Models.Crossword

@inject ILanguagesRepository languagesRepository

<PageTitle>Crossword</PageTitle>

<div class="container">
    <h3>
        <span class="badge bg-secondary">
            Game status: @gameStage
        </span>
    </h3>
    <div class="row pb-2">
        <div class="col-auto">
            <div class="flex-row input-group options-container">
                <button disabled="@restartButtonIsDisabled" class="btn btn-primary" @onclick="RestartButtonClicked">@restartButtonTitle</button>
                <select class="form-select w-auto" aria-label="Select size">
                    <option selected>Select size</option>
                    <option value="1">10x10</option>
                    <option value="2">15x15</option>
                    <option value="3">20x20</option>
                    <option value="4">25x25</option>
                    <option value="5">30x30</option>
                </select>
                <select class="form-select w-auto" aria-label="Translation mode">
                    <option selected>Translation mode</option>
                    <option value="1">Word</option>
                    <option value="2">Definition</option>
                </select>
                <select @bind="selectedWordsLanguageId" class="form-select w-auto" aria-label="Words language">
                    <option value="" selected>Words language</option>
                    @foreach (var lang in languagesRepository.GetLanguages(l => l.Id != 3)) // not chinese
                    {
                        <option value="@lang.Id">@lang.Name</option>
                    }
                </select>
                <select @bind="selectedWordsTranslationLanguageId" class="form-select w-auto" aria-label="Translation language">
                    <option value="" selected>Translation language</option>
                    @foreach (var lang in languagesRepository.GetLanguages(_ => true))
                    {
                        <option value="@lang.Id">@lang.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm col-12">

            @for(var r = 0; r < charCells.Length; r++)
            {
                <div class="row">
                    <div class="col-sm col-9">
                        <div class="cross-row">
                        @foreach(var charCell in charCells[r])
                        {
                                <div class="cross-cell @(charCell.ContainsLetter ? "contains-letter-cell" : "contains-no-letter-cell")">
                                    @if (charCell.WordStart)
                                    {
                                        @charCell.WordNumberInList
                                    }
                                </div>
                        }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {

    enum GameStage
    {
        NOT_STARTED = 1,
        IN_PROCESS = 2,
        FINISHED = 3
    }

    private string restartButtonTitle = "Start new game";
    private GameStage gameStage = GameStage.NOT_STARTED;
    private CharCell[][] charCells = new CharCell[0][];
    private bool restartButtonIsDisabled =>
        string.IsNullOrWhiteSpace(selectedWordsLanguageId) ||
        string.IsNullOrWhiteSpace(selectedWordsTranslationLanguageId);

    private string? selectedWordsLanguageId = null;
    private string? selectedWordsTranslationLanguageId = null;

    private void ShowOptionsClicked()
    {

    }

    private void RestartButtonClicked()
    {
        switch (gameStage)
        {
            case GameStage.NOT_STARTED:
                restartButtonTitle = "Game started!";
                charCells = GetWordsForCrossword();
                gameStage = GameStage.IN_PROCESS;
                break;
            case GameStage.IN_PROCESS:
                restartButtonTitle = "Game finished!";
                gameStage = GameStage.FINISHED;
                break;
            case GameStage.FINISHED:
                restartButtonTitle = "Start new game!";
                gameStage = GameStage.NOT_STARTED;
                charCells = new CharCell[0][];
                break;
        }
    }

    private static CharCell[][] GetWordsForCrossword()
    {
        var res = new CharCell[15][];
        int fakeWordLastNumber = 0;
        for(int i = 0; i <= 14; i++)
        {
            res[i] = new CharCell[15];
            for(var j = 0; j <= 14; j++)
            {
                var wordStart = new Random().Next(16) == 5;
                if (wordStart){
                    fakeWordLastNumber++;
                }
                var containsChar = new Random().Next(4) == 3;
                res[i][j] = new CharCell
                {
                    RealLetter = (char)i,
                    WordStart = wordStart,
                    WordNumberInList = wordStart ? fakeWordLastNumber : null,
                    ContainsLetter = wordStart || containsChar
                };
            }
        }
        return res;
    }
}
